{% extends 'base.html.twig' %}

{% block title %}New ObjectifEnvironm{% endblock %}

{% block body %}
    <h1>Create new ObjectifEnvironm</h1>

    {{ include('objectif_environm/_form.html.twig') }}

    <a href="{{ path('app_objectif_environm_index') }}">back to list</a>
{% endblock %}
