{% extends 'base.html.twig' %}

{% block title %}Objectifs Environnement - Liste{% endblock %}

{% block body %}
    <div class="container mt-5" style="background-color: #f0f8ff; border-radius: 15px; padding: 30px;">
        <!-- Section des boutons de redirection -->
        <div class="d-flex justify-content-center mb-4">
            <a href="" class="btn btn-primary mx-2">Liste 1</a>
            <a href="" class="btn btn-success mx-2">Liste 2</a>
            <a href="" class="btn btn-info mx-2">Liste 3</a>
            <a href="" class="btn btn-warning mx-2">Liste 4</a>
            <a href="" class="btn btn-danger mx-2">Liste 5</a>
        </div>


    </div>
{% endblock %}
