{% extends 'base.html.twig' %}

{% block title %}Edit CategorieAction{% endblock %}

{% block body %}
    <h1>Edit CategorieAction</h1>

    {{ include('categorie_action/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_categorie_action_index') }}">back to list</a>

    {{ include('categorie_action/_delete_form.html.twig') }}
{% endblock %}
